*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* scrollbar size */

::-webkit-scrollbar {
    width: 20px;
}

/* scrollbar design */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(223, 10, 10), rgba(230, 8, 8, 0.445));
    border-radius: 50px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
    border-radius: 50px;
    box-shadow: inset 0 0 5px grey;
    background-color: rgba(255, 0, 238, 0.214);
}


/* Div to differentiate between 2 sections */
.borderdiv {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.borderdiv>div {
    width: 30%;
    margin: 15px 0;
    border: 2px solid rgb(255, 157, 0);
}

/* body */
body{
    background-color: #fff;
    font-family: 'Emilys Candy', serif;
    background-color: rgba(255, 192, 203, 0.336);
}
/* all p elements */
p{
    font-family: serif;
}
/* header */
header{
    height: 10%;
}
/* navbar */
header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* LOGO */
.navsecA > div{
    width: 50%;
    height: 50%;
}
.navsecA > div > img{
    width: 100%;
    height: 100%;
}
/* KITKAT */
.navsecB > h1{
    font-size: 200%;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: -5px 5px red;
    color: red;
}
/* navtags */
.navsecC{
    margin-right: 20px;
    width: 30%;
}
.navsecC > .navtags{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navsecC > .navtags > a{
    text-decoration: none;
    font-size: 130%;
    color: red;
    font-weight: bolder;
}
.navsecC > .navtags > a:hover{
    text-decoration: underline;
}
/* section 1 */
.sec1{
    text-align: center;
}
.sec1 > h2{
    color: red;
    font-size: 6vh;
}
.sec1 > div{
    display: flex;
    justify-content: space-evenly;
}
.sec1 > div > .textdiv{
    justify-content: center;
    align-items: center;
    width: 60%;
}
.sec1 > div > .textdiv > div{
    margin-top: 20px;
}
.imgdiv > img{
    border-radius: 40%;
}
/* section 2 */
.sec2{
    text-align: center;
    margin-bottom: 10px;
}
.sec2 > h2{
    color: red;
    font-size: 6vh;
}
.sec2 > div{
    display: flex;
    justify-content: space-evenly;
}
.sec2 > div > .textdiv2{
    justify-content: center;
    align-items: center;
    width: 60%;
}
.sec2 > div > .textdiv2 > div{
    margin-top: 20px;
}
/* slogan */
.sec2 > div > .imgdiv2{
    color: red;
}

/* section 3 */
.sec3{
    text-align: center;
    margin-bottom: 10px;
}
.sec3 > h2{
    color: red;
    font-size: 6vh;
}

/* all anchor tags */
.a{
    display: flex;
    height: 15vh;
    margin: 20px;
}
.a > .diva1{
    width: 50%;
    height: 100%;
    margin-right: 10px;
}
.a > .diva1 > img{
    width: 100%;
    height: 100%;
}
.textabc{
    text-align: center;
}


.b{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.b > h3{
    font-size: 5vh;
    color: red;
}
.b > form{
    display: flex;
    flex-direction: column;
    width: 40%;
}
/* input css */
input[type=text],
input[type=email],
input[type=number]{
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
/* css for submit button */
input[type=submit]{
    width: 30%;
    padding: 6px 10px;
    margin: 8px auto;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.852);
    font-size: 20px;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .navsecC > .navtags > a{
        font-size: 12px;
        font-weight: normal;
    }
    .navsecC{
        margin-right: 0px;
        width: 50%;
    }
    .navsecC > .navtags{
        justify-content: flex-start;
        justify-content: space-between;
    }
    .navsecB > h1{
        font-size: 15px;
        box-shadow: -2px 2px red;
        color: red;
    }
    .navsecA > div{
        width: 100%;
        height: 50%;
    }
    .navsecA{
        width: 20%;
    }
    .navsecB{
        width: 20%;
    }
    .sec1 > div{
        flex-direction: column;
    }
    .sec1 > div > .textdiv{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .sec1 > div > .textdiv > div{
        margin-top: 20px;
    }
    .imgdiv > img{
        border-radius: 40%;
    }
    .imgdiv{
        width: 30%;
        height: 30%;
    }
    .a{
        display: flex;
        height: 50vh;
        margin: 20px;
    }
    .a > .diva1{
        width: 500%;
        height: 100%;
        margin-right: 10px;
    }
    .a > .diva1 > img{
        width: 100%;
        height: 100%;
    }
    .textabc{
        text-align: center;
    }
}